.container {
  height: 100vh;
  transition: background 2s;
}

.quoteBox {
  border: 2px solid black;
  border-radius: 2rem;
  padding: 40px 50px 20px 50px;
  font-size: 1.5rem;
  width: 30%;
  background: white;
  font-family: "Raleway", sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.quote {
  margin: 0;
  color: white;
  transition: color 2s;
}

.author {
  align-self: flex-end;
  font-size: 1rem;
  margin-top: 0;
}

.icon {
  font-size: 3rem;
  margin-top: 1rem;
  color: red;
}

.footer {
  display: flex;
  flex-direction: column;
}

.footer_top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-self: flex-end;
}

.footer_bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
}

.btn {
  border: 2px solid;
  border-radius: 4px;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  background: white;
  color: black;
}

.btn:hover {
  cursor: pointer;
  background: black;
  color: white;
  transition: background 2s;
}

.loadingContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
